@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

/* >Color palette */
:root {
  --color-: hsl(216, 30%, 68%);
  --color-heading: hsl(270, 9%, 17%);
  --color-primary: hsl(273, 4%, 51%);
  --color-secondary: hsl(0, 0%, 98%);

  --bg-secondary: hsl(256, 26%, 20%);
}

/* >Typography */
body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}
